<!DOCTYPE html>
<html>
    <h1>新增物件</h1>
    <form action="addrecord/" method="post">
        {% csrf_token %}
        物件名稱 :<br>
        <input name="name">
        <br><br>
        類別 :<br>
        <input name="category">
        <br><br>
        到期日(yyyymmdd) :<br>
        <input name="expire_date">
        <br><br>
        幾天前提醒我 :<br>
        <input name="remind_day">
        <br><br>
        擺放位置 :<br>
        <input name="place">
        <br><br>
        <input type="submit" value="送出">
    </form>
</html>